@font-face{
    src: url(../fonts/Raleway-Medium.ttf);
    font-family: Raleway;
}
body{
    margin: 0;
    font-family: Raleway;
}
a{
    text-decoration: none;
}
.align-center{
    text-align: center;
}
.sidebar{
    background: #0b2d72;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    width:16%;
    color: #fff;
    font-family: Raleway;
    overflow: auto;
}
.sidebar-top{
    padding: 5% 12%;
    margin-bottom: 25px;
}
.sidebar-item h4{
    font-weight: 400;
    margin: 13px 0;
}
.sidebar-item{
    border-bottom: 1px solid #7c7699;
    padding: 1px 8%;
}
.sidebar-item:hover{
    background: #000e2a;
    border-right: 4px solid #54f3e6;
    letter-spacing: 0.8px;
    border-bottom: 1px solid #b5b2c2;
}
.online{
    color: #54f3e6;
    font-size: 30px;
}
.status{
    font-size: 15px;
}
.active{
    background: #000e2a;
    border-right: 4px solid #54f3e6;
    border-bottom: 1px solid #b5b2c2;
}
.active h4{
    font-weight: bold;
    letter-spacing: 1px;
}
.sidebar-main a{
    color: white;
}
.sidebar-main a:hover{
    color: white;
    text-decoration: none;
}
main{
    margin-left: 16%;
    padding: 3%;
    font-family: Raleway;
}
main h1, main h2, main h3{
    font-weight: 400;
}
.create-menu-form{
    display: flex;
    justify-content: space-between;
    width: 67%;
    margin:50px auto;
    flex-wrap: wrap;
}
.form-group{
    padding: 3px;
}
input.form-control{
    border-radius: 0;
    height: 42px;
    width: 100%;
    display: block;
    padding: 3px 6px;
    font-size: 1rem;
    color: #494d52;
    background-color: #fff;
    border: 1px solid #ced4da;
}
input.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
.form-button{
    width:102.5%;
    padding: 1px 6px;
    font-family: Raleway;
    background: #0b2d72 !important;
    line-height: 1.4em;
    color: #fff !important;
    outline: none;
    box-shadow: 0 7px 21px #d2d2d2;
    border: none;
    font-size: 30px;
}
.form-button:hover{
    /* width: 105%; */
    box-shadow: 3px 11px 28px #d2d2d2;
    cursor: pointer;
}
.form-button:active{
    /* width: 105%; */
    box-shadow: 3px 11px 28px #d2d2d2;
    transform: translateY(3px);
    border: none;
}
.form-button:focus{
    /* width: 105%; */
    outline: none;
}
.meal-options{
    width: 84%;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.meal-options-item{
    flex: 1;
    width: 33.3%;
    height: 350px;
}
.meal-options-item h3, .meal-options-item h4{
    margin: 7px 0;
}
.meal-options-item img{
    border: 1px solid #547abc;
}
table td, table th{
    border: 1px solid #ced4da;
    border-collapse: collapse;
    padding: 3px 6px;
}
.upload-btn-wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}
  .btn {
    border: 2px solid #0b2d72;
    color: #0b2d72;
    background-color: white;
    padding: 11px 20px;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
  .btn:active{
    /* width: 105%; */
    box-shadow: 3px 11px 28px #d2d2d2;
    transform: translateY(3px);
    border: none;
}
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
  #edit-button{
    width:35%;
    padding: 1px 6px;
    font-family: Raleway;
    background: #565f07 !important;
    line-height: 1.4em;
    color: #fff !important;
    outline: none;
    box-shadow: 0 3px 13px #d2d2d2;
    border: none;
    font-size: 20px;
    margin-right: 5px;
}
  .cancel-button{
    width:35%;
    padding: 1px 6px;
    font-family: Raleway;
    background: #d3ae36 !important;
    color: #fff !important;
    outline: none;
    /* box-shadow: 0 3px 13px #d2d2d2; */
    border: none;
    font-size: 20px;
    margin-right: 5px;
}
  .delete-meal{
    width:35%;
    padding: 1px 6px;
    font-family: Raleway;
    background: #b63030 !important;
    color: #fff !important;
    outline: none;
    /* box-shadow: 0 3px 13px #d2d2d2; */
    border: none;
    font-size: 20px;
    margin-right: 5px;
}
  #delete-button{
    width:35%;
    padding: 1px 6px;
    font-family: Raleway;
    background: #7e1313 !important;
    line-height: 1.4em;
    color: #fff !important;
    outline: none;
    box-shadow: 0 3px 13px #d2d2d2;
    border: none;
    font-size: 20px;
  }
  #delete-button:hover, #edit-button:hover, .cancel-button:hover, .delete-meal:hover{
    /* width: 105%; */
    box-shadow: 3px 7px 19px #d2d2d2;
    cursor: pointer;
}
.icon{
    visibility: hidden;
}
/* The Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    padding-left: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 38%;
  }
  /*Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

@media screen and (max-width: 800px){
    .sidebar {
        display: none;
        width: 0;
        overflow: auto;
        z-index: 1;
    }
    .icon{
        font-size: 36px;
        position: absolute;
        top: 10px;
        left: 91%;
        visibility: visible;
    }
    main{
        padding:7%;
        margin: 0;
    }
    .create-menu-form{
        width:75%;
        flex-wrap: wrap;
    }
    .meal-options{
        width: 58%;
        flex-direction: column;
    }
    .meal-options-item{
        width:100%;
    }
    #delete-button{
        width:47%;
    }
    .modal{
        padding-left:0;
    }
    .modal-content{
        width:76%;
    }
}